.DS_Store

/app/code/community/.DS_Store

/app/etc/modules/.DS_Store

/lib/compropago/.DS_Store
/lib/.DS_Store

/skin/frontend/base/default/js/compag/.DS_Store
/skin/frontend/base/default/js/.DS_Store
/skin/frontend/base/default/images/cpfaster/.DS_Store
/skin/frontend/base/default/images/.DS_Store
/skin/frontend/base/default/css/compag/.DS_Store
/skin/frontend/base/default/css/.DS_Store

/app/design/frontend/base/default/template/cpfaster/.DS_Store
/app/design/frontend/base/default/layout/.DS_Store
/app/code/community/Cpfaster/controllers/.DS_Store
